
#one{
    height: 300px;
    width: 590px;
    background: whitesmoke;  
    border: 0.5px solid black ;
    position: relative;
    left: 580px;
    top: 200px;
}
#two{
    height: 300px;
    width: 50px;
    background: red;
    border-radius: 0%;
    /* border: 0.5px solid black ; */
    position: relative;
    left: 850px;
    top: -102.3px;
}
#three{
    height:51px;
    width: 590px;
    background: red;
    border-radius: 0%;
    /* border: 0.5px solid black ; */
    position: relative;
    left: 581px;
    top: -283px;
}